<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#DDDDDD">
    <title>Feed</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon/ftkdict-152-115567.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/img/favicon/ftkdict-120-115567.png">
    <link href="/static/style/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="center">
        {{range .Todos}}
            {{if .Done}}
                <li class="done">{{.Title}}</li>
            {{else}}
                <li>{{.Title}}</li>
            {{end}}
        {{end}}
    </div>
</body>
</html>